*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI';
}

body{

background:

linear-gradient(
135deg,
#050816,
#081123,
#12193a
);

color:white;

}

html{

scroll-behavior:smooth;

}

a{

text-decoration:none;

color:white;

}

button{

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

}

section{

padding:80px 10%;

}