*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI';
}

body{

background:

linear-gradient(
135deg,
#050816,
#081123,
#12193a
);

color:white;

}

html{

scroll-behavior:smooth;

}

a{

text-decoration:none;

color:white;

}

button{

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

}

section{

padding:80px 10%;

}
/* MOBILE RESPONSIVE */

@media (max-width:768px){

nav{

padding:20px !important;

flex-direction:column;

gap:20px;

}

nav h1{

font-size:42px !important;

}

nav div{

display:flex !important;

gap:18px !important;

flex-wrap:wrap;

justify-content:center;

}


section{

padding:60px 25px !important;

}


h1{

font-size:52px !important;

line-height:1.1;

}


button{

width:auto;

}


img{

max-width:100%;

height:auto;

}


#projects{

display:block;

}

#projects > div{

display:grid !important;

grid-template-columns:

1fr !important;

gap:20px !important;

}

}